{% extends "template-default.njk" %}

{% block content %}

  <main class="container">
    <section>
      <p><b>{{ package.description }}</b></p>
      <figure><img src="./screenshot.png" alt="screenshot"></figure>
    </section>
    <section>
      <h2>Introduction</h2>
      <p>{{ package.introduction | safe }}</p>
    </section>
    <section>
      <h2>Installation</h2>
      <p>CDN link:</p>
      <pre><code class="language-html">&lt;link rel="stylesheet" href="https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{{ package.keyword }}.min.css"/&gt;</code></pre>
      <p>NPM package:</p>
      <pre><code class="language-bash">$ npm install --save-dev {{ package.name }}</code></pre>
      <p>CSS import:</p>
      <pre><code class="language-css">@import url(&quot;https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{{ package.keyword }}.min.css&quot;);</code></pre>
    </section>
  </main><!-- role main -->

{% endblock %}
