{% extends "template-default.njk" %}

{% block content %}

<main class="container">
  <section class="margin-bottom-2">
    <ul class="list-inline list-middot">
      {% for fileName, fileContent in cssFiles %}
        {% if fileContent and (fileName !== "bundle") and (fileName !== "variables") %}
          <li><a href="#{{ fileName }}">{{ fileName | capitalize }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  {% for fileName, fileContent in cssFiles %}
    {% if fileContent and (fileName !== "bundle") and (fileName !== "variables") %}
      <section>
        <h3 id="{{ fileName }}">
          <a href="#{{ fileName }}" class="color-default">{{ fileName | capitalize }}</a>
          <a href="#">↑</a>
        </h3>
        <pre><code class="language-css">{{ fileContent }}</code></pre>
      </section>
    {% endif %}
  {% endfor %}
</main>

{% endblock %}
