{% extends "template-default.njk" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 padding-x-0 overflow-hint">
      <nav class="overflow-x border-bottom-1 demi-small">
        <ul class="display-inline-block list-inline padding-1 margin-0">
          <!-- logo -->
          <li><a class="" href="//localhost:3000/en"><img class="v-align-middle" style="max-width:initial; max-height:35px; height:35px;" src="//localhost:3000/content/logo-hyperkirby.svg" alt="Hyper Kirby"></a></li>
          <!-- title -->
          <li><a class="color-inherit" href="//localhost:3000/en">Hyper Kirby</a></li>
          <!-- pages -->
          <li><a class="color-inherit" href="//localhost:3000/en">Home</a></li>
          <li><a class="active" href="//localhost:3000/en/grid">Grid</a></li>
          <li><a class="color-inherit" href="//localhost:3000/en/list">List</a></li>
          <li><a class="color-inherit" href="//localhost:3000/en/page">Page</a></li>
          <li><a class="color-inherit" href="//localhost:3000/en/features">Features</a></li>
          <li><a class="color-inherit" href="//localhost:3000/en/search">Search</a></li>
          <li><a class="color-inherit" href="//localhost:3000/en/shortcodes">Shortcodes</a></li>
          <li><a class="color-inherit btn" href="//localhost:3000/en/contact">Engage</a></li>
          <li>Text Node</li>
        </ul>
        <ul class="display-inline-block list-inline padding-y-1 margin-bottom-0 margin-right-2" style="--bullet-type:'/';">
          <li><a class="" href="//localhost:3000/en/grid/article-4">EN</a></li>
          <li><a class="color-inherit" href="//localhost:3000/es/cuadricula/article-4">ES</a></li>
          <li><a class="color-inherit" href="//localhost:3000/de/gitter/article-4">DE</a></li>
        </ul>
      </nav>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

  <main>
    <section>
      <ul class="list-inline">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Portfolio</a></li>
        <li><a href="#!">About</a></li>
        <li><a href="#!">Services</a></li>
        <li><a href="#!">Clients</a></li>
        <li><a href="#!">Docs</a></li>
        <li><a href="#!">Contact</a></li>
        <li><a href="#!">Support</a></li>
        <li><a href="#!">Customers</a></li>
      </ul>
      <nav class="overflow-x overflow-hint border-1 demi-small">
        <ul class="list-inline padding-1 margin-bottom-0">
          <li><a href="#!">Home</a></li>
          <li><a href="#!">Portfolio</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Services</a></li>
          <li><a href="#!">Clients</a></li>
          <li><a href="#!">Docs</a></li>
          <li><a href="#!">Contact</a></li>
          <li><a href="#!">Support</a></li>
          <li><a href="#!">Customers</a></li>
        </ul>
      </nav>
      <ul class="list-inline" style="--bullet-type:'/';">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Portfolio</a></li>
        <li><a href="#!">About</a></li>
        <li><a href="#!">Services</a></li>
        <li><a href="#!">Clients</a></li>
        <li><a href="#!">Docs</a></li>
        <li><a href="#!">Contact</a></li>
        <li><a href="#!">Support</a></li>
        <li><a href="#!">Customers</a></li>
      </ul>
      <ul class="list-inline" style="--bullet-type:'·';">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Portfolio</a></li>
        <li><a href="#!">About</a></li>
        <li><a href="#!">Services</a></li>
        <li><a href="#!">Clients</a></li>
        <li><a href="#!">Docs</a></li>
        <li><a href="#!">Contact</a></li>
        <li><a href="#!">Support</a></li>
        <li><a href="#!">Customers</a></li>
      </ul>

      <div class="margin-bottom-1">
        Language
        <ul class="display-inline list-inline color-muted" style="--bullet-type:'|';">
          <li><a href="#!">EN</a></li>
          <li><a href="#!">ES</a></li>
          <li><a href="#!">DE</a></li>
        </ul>
      </div>

      <ul class="list- inline" style="--bullet-type:'👾';">
        <li>item</li>
        <li>item</li>
        <li>item</li>
      </ul>
    </section>
  </main><!-- role main -->

{% endblock %}
