<nav role="navigation">
  <ul class="list-inline" style="--marker: '·';">
    <li><a href="./">Home</a></li>
    <li><a href="./reference.html">Reference</a></li>
    <li><a href="{{ package.repo.url }}">Repository</a></li>
  </ul>
</nav>
