<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/hyper-reset-css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-layout-css"/>
    <link rel="stylesheet" href="./{{ package.keyword }}.min.css"/>
    <style media="screen">
      .extra-small {
        font-size: 0.6em;
      }
    </style>
  </head>
  <body>
    {% include "component-default-header.njk" %}

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

    {% include "component-default-footer.njk" %}
  </body>
</html>
