<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.min.css"/>
    <link rel="stylesheet" href="./grid.min.css"/>
    <link rel="stylesheet" href="./{{ package.keyword }}.min.css"/>
    <style>
      .extra-small {
        font-size: 0.6em;
      }
      .container {
        max-width: 960px;
      }
    </style>
  </head>
  <body class="p adding-top-1">
    {% include "component-default-header.njk" %}

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

    {% include "component-default-footer.njk" %}
  </body>
</html>
