.margin-0         { margin-top:     0; margin-right: 0; margin-bottom: 0; margin-left: 0; }
.margin-top-0     { margin-top:     0; }
.margin-right-0   { margin-right:   0; }
.margin-bottom-0  { margin-bottom:  0; }
.margin-left-0    { margin-left:    0; }
.margin-x-0       { margin-left:    0; margin-right: 0; }
.margin-y-0       { margin-top:     0; margin-bottom: 0; }

.margin-0\.5         { margin:         0.5rem; }
.margin-top-0\.5     { margin-top:     0.5rem; }
.margin-right-0\.5   { margin-right:   0.5rem; }
.margin-bottom-0\.5  { margin-bottom:  0.5rem; }
.margin-left-0\.5    { margin-left:    0.5rem; }
.margin-x-0\.5       { margin-left:    0.5rem; margin-right: 0.5rem; }
.margin-y-0\.5       { margin-top:     0.5rem; margin-bottom: 0.5rem; }

.margin-1         { margin:         1rem; }
.margin-top-1     { margin-top:     1rem; }
.margin-right-1   { margin-right:   1rem; }
.margin-bottom-1  { margin-bottom:  1rem; }
.margin-left-1    { margin-left:    1rem; }
.margin-x-1       { margin-left:    1rem; margin-right: 1rem; }
.margin-y-1       { margin-top:     1rem; margin-bottom: 1rem; }

.margin-n1         { margin:         -1rem; }
.margin-top-n1     { margin-top:     -1rem; }
.margin-right-n1   { margin-right:   -1rem; }
.margin-bottom-n1  { margin-bottom:  -1rem; }
.margin-left-n1    { margin-left:    -1rem; }
.margin-x-n1       { margin-left:    -1rem; margin-right: -1rem; }
.margin-y-n1       { margin-top:     -1rem; margin-bottom: -1rem; }

.margin-2         { margin:         2rem; }
.margin-top-2     { margin-top:     2rem; }
.margin-right-2   { margin-right:   2rem; }
.margin-bottom-2  { margin-bottom:  2rem; }
.margin-left-2    { margin-left:    2rem; }
.margin-x-2       { margin-left:    2rem; margin-right: 2rem; }
.margin-y-2       { margin-top:     2rem; margin-bottom: 2rem; }

.margin-n2         { margin:         -2rem; }
.margin-top-n2     { margin-top:     -2rem; }
.margin-right-n2   { margin-right:   -2rem; }
.margin-bottom-n2  { margin-bottom:  -2rem; }
.margin-left-n2    { margin-left:    -2rem; }
.margin-x-n2       { margin-left:    -2rem; margin-right: -2rem; }
.margin-y-n2       { margin-top:     -2rem; margin-bottom: -2rem; }

.margin-3         { margin:         3rem; }
.margin-top-3     { margin-top:     3rem; }
.margin-right-3   { margin-right:   3rem; }
.margin-bottom-3  { margin-bottom:  3rem; }
.margin-left-3    { margin-left:    3rem; }
.margin-x-3       { margin-left:    3rem; margin-right: 3rem; }
.margin-y-3       { margin-top:     3rem; margin-bottom: 3rem; }

.margin-n3         { margin:         -3rem; }
.margin-top-n3     { margin-top:     -3rem; }
.margin-right-n3   { margin-right:   -3rem; }
.margin-bottom-n3  { margin-bottom:  -3rem; }
.margin-left-n3    { margin-left:    -3rem; }
.margin-x-n3       { margin-left:    -3rem; margin-right: -3rem; }
.margin-y-n3       { margin-top:     -3rem; margin-bottom: -3rem; }

.margin-4         { margin:         4rem; }
.margin-top-4     { margin-top:     4rem; }
.margin-right-4   { margin-right:   4rem; }
.margin-bottom-4  { margin-bottom:  4rem; }
.margin-left-4    { margin-left:    4rem; }
.margin-x-4       { margin-left:    4rem; margin-right: 4rem; }
.margin-y-4       { margin-top:     4rem; margin-bottom: 4rem; }

.margin-n4         { margin:         -4rem; }
.margin-top-n4     { margin-top:     -4rem; }
.margin-right-n4   { margin-right:   -4rem; }
.margin-bottom-n4  { margin-bottom:  -4rem; }
.margin-left-n4    { margin-left:    -4rem; }
.margin-x-n4       { margin-left:    -4rem; margin-right: -4rem; }
.margin-y-n4       { margin-top:     -4rem; margin-bottom: -4rem; }

.margin-5         { margin:         5rem; }
.margin-top-5     { margin-top:     5rem; }
.margin-right-5   { margin-right:   5rem; }
.margin-bottom-5  { margin-bottom:  5rem; }
.margin-left-5    { margin-left:    5rem; }
.margin-x-5       { margin-left:    5rem; margin-right: 5rem; }
.margin-y-5       { margin-top:     5rem; margin-bottom: 5rem; }

.margin-n5         { margin:         -5rem; }
.margin-top-n5     { margin-top:     -5rem; }
.margin-right-n5   { margin-right:   -5rem; }
.margin-bottom-n5  { margin-bottom:  -5rem; }
.margin-left-n5    { margin-left:    -5rem; }
.margin-x-n5       { margin-left:    -5rem; margin-right: -5rem; }
.margin-y-n5       { margin-top:     -5rem; margin-bottom: -5rem; }
