.h1 { font-size: @font-size-h1; }
.h2 { font-size: @font-size-h2; }
.h3 { font-size: @font-size-h3; }
.h4 { font-size: @font-size-h4; }
.h5 { font-size: @font-size-h5; }
.h6 { font-size: @font-size-h6; }

.text-italic     { font-style: italic; }
.text-bold       { font-weight: bold; }
.text-underline  { text-decoration: underline; }
.text-strike     { text-decoration: line-through; }
.text-capitalize { text-transform: capitalize; }
.text-uppercase  { text-transform: uppercase; }

.text-align-left    { text-align: left;    }
.text-align-center  { text-align: center;  }
.text-align-right   { text-align: right;   }
.text-align-justify { text-align: justify; }

.sans-serif { font-family: @font-family-sans-serif; }
.serif      { font-family: @font-family-serif; }
.code       { font-family: @font-family-monospace; }

.font-weight-100 { font-weight: 100; } /* thin */
.font-weight-300 { font-weight: 300; } /* light */
.font-weight-400 { font-weight: 400; } /* normal */
.font-weight-600 { font-weight: 600; } /* semibold */
.font-weight-700 { font-weight: 700; } /* bold */
.font-weight-800 { font-weight: 800; } /* extrabold */
.font-weight-900 { font-weight: 900; } /* black */
