/**
 * aspect ratio
 * - image does not need a container, but always requires object-fit class
 * - iframe does not need a container, it's optional
 */

/* create aspect ratio */
[class*=aspect-ratio],
[style*=--aspect-ratio] {
  aspect-ratio: var(--aspect-ratio);
}

/* make iframe fit */
[class*=aspect-ratio] > iframe,
[style*=--aspect-ratio] > iframe,
iframe[class*=aspect-ratio],
iframe[style*=--aspect-ratio] {
  width: 100%;
  height: 100%;
}

.aspect-ratio-1\/1 {
  --aspect-ratio: 1/1;
}
.aspect-ratio-2\/1 {
  --aspect-ratio: 2/1;
}
.aspect-ratio-3\/2 {
  --aspect-ratio: 3/2;
}
.aspect-ratio-4\/3 {
  --aspect-ratio: 4/3;
}
.aspect-ratio-16\/9 {
  --aspect-ratio: 16/9;
}
