.bg-left     { background-position-x: left; }
.bg-right    { background-position-x: right; }
.bg-bottom   { background-position-y: bottom; }
.bg-top      { background-position-y: top; }
.bg-x-center { background-position-x: center; }
.bg-y-center { background-position-y: center; }

.bg-cover    { background-size: cover; }
.bg-contain  { background-size: contain; }

.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }
.bg-repeat-0 { background-repeat: no-repeat; }

.bg-highlight { background-color: var(--color-gray-light, var(--fallback-color-gray-light)); }
.bg-image     { background-position: center center; background-size: cover; }
