.bg-left     { background-position-x: left; }
.bg-right    { background-position-x: right; }
.bg-bottom   { background-position-y: bottom; }
.bg-top      { background-position-y: top; }
.bg-x-center { background-position-x: center; }
.bg-y-center { background-position-y: center; }

.bg-cover    { background-size: cover; }
.bg-contain  { background-size: contain; }

.bg-image    { background-position: center center; background-size: cover; }

.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }
.bg-repeat-0 { background-repeat: no-repeat; }

.bg-white { background: #fff; }
.bg-black { background: #000; }

.bg-default    { background: var(--background-color-default); }
.bg-highlight  { background: var(--background-color-highlight); }

.bg-primary    { background: var(--color-primary); }
.bg-secondary  { background: var(--color-secondary); }
.bg-tertiary   { background: var(--color-tertiary); }
.bg-quaternary { background: var(--color-quaternary); }
.bg-complementary { background: var(--color-complementary); }

.bg-transparent {
  background: transparent;
}
.bg-transparent:hover, .bg-transparent:focus {
  background-image: none;
}

.bg-gradient {
  --direction: to bottom;
  --from: white;
  --to: black;
  background: linear-gradient(var(--direction), var(--from), var(--to));
}

.bg-stripes {
  background: repeating-linear-gradient(
    -45deg,
    var(--background-color-highlight),
    var(--background-color-highlight) 10px,
    var(--background-color-default) 10px,
    var(--background-color-default) 20px
  );
}

.bg-squares {
  background:
    linear-gradient(45deg, var(--background-color-highlight) 25%, transparent 25%, transparent 75%, var(--background-color-highlight) 75%, var(--background-color-highlight)),
    linear-gradient(45deg, var(--background-color-highlight) 25%, transparent 25%, transparent 75%, var(--background-color-highlight) 75%, var(--background-color-highlight));
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

/* fade with easing function */
.bg-shade {
  background: linear-gradient(to bottom, rgba(0, 0, 10, 0), ease-in-out, rgba(0, 0, 5, 0.8));
}
