.border,
.border-1 {
  border: var(--border-width-default, 1px) solid var(--border-color-default);
}
.border-1 {
  border-width: 1px;
}

[class*=border-top] {
  border-top: var(--border-width-default, 1px) solid var(--border-color-default);
}
.border-top-1 {
  border-top-width: 1px;
}

[class*=border-right] {
  border-right: var(--border-width-default, 1px) solid var(--border-color-default);
}
.border-right-1 {
  border-right-width: 1px;
}

[class*=border-bottom] {
  border-bottom: var(--border-width-default, 1px) solid var(--border-color-default);
}
.border-bottom-1 {
  border-bottom-width: 1px;
}

[class*=border-left] {
  border-left: var(--border-width-default, 1px) solid var(--border-color-default);
}
.border-left-1 {
  border-left-width: 1px;
}

.border-dashed {
  border-color: var(--border-color-default);
  border-style: dashed;
}

.border-0        { border: 0; }
.border-top-0    { border-top: 0; }
.border-right-0  { border-right: 0; }
.border-bottom-0 { border-bottom: 0; }
.border-left-0   { border-left: 0; }

.border-radius      { border-radius: var(--border-radius-default); }
.border-radius-0\.1 { border-radius: 0.1em; }
.border-radius-0\.2 { border-radius: 0.2em; }
.border-radius-0\.3 { border-radius: 0.3em; }
.border-radius-0\.4 { border-radius: 0.4em; }
.border-radius-0\.5 { border-radius: 0.5em; }

.border-radius-ellipsis { border-radius: 100%; }
.border-radius-circle   { border-radius: 1000px; }

.box-shadow { box-shadow: 0 2px 5px rgba(0,0,0,0.1); }

.border-current {
  border-color: currentColor;
}

.hover-border-primary:hover,
.hover-border-primary:focus {
  border-color: var(--color-primary);
}

.border-light {
  border-color: var(--border-color-light);
}
