.display-inline       { display: inline; }
.display-inline-block { display: inline-block; }
.display-block        { display: block !important; width: 100%; }
.display-flex         { display: flex; }
.flex-nowrap          { flex-wrap: nowrap; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed    { position: fixed; }

.top-0    { top:    0; }
.right-0  { right:  0; }
.bottom-0 { bottom: 0; }
.left-0   { left:   0; }

.overflow-x { overflow-x: auto; white-space: nowrap; }
.overflow-y { overflow-y: auto; white-space: nowrap; }

.overflow-x::-webkit-scrollbar { display: none; }
.overflow-y::-webkit-scrollbar { display: none; }

.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto   { overflow: auto; }

.overflow-x,
.overflow-y,
.overflow-scroll,
.overflow-auto {
  /* native mobile scroll */
  -webkit-overflow-scrolling: touch; /* ios safari momentum-based scrolling */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* ms autohide scrollbars */
}

.overflow-hint {
  /* shadow */
  background: radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.3), rgba(255,255,255,0)) 100% 0;
  background-size: 10px 100%;
  background-repeat: no-repeat;
}
.overflow-hint > * {
  /* shadow cover */
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 80%) 100% 0;
  background-size: 35px 100%;
  background-repeat: no-repeat;
  min-width: 100%;
}

.index-1 { z-index: 1; }
.index-2 { z-index: 2; }
.index-3 { z-index: 3; }
.index-4 { z-index: 4; }
.index-5 { z-index: 5; }

.float-left  { float: left; }
.float-right { float: right; }

.clearfix:before,
.clearfix:after { content: " "; display: table }
.clearfix:after { clear: both }
