.display-inline       { display: inline }
.display-inline-block { display: inline-block }
.display-block        { display: block !important; width: 100% }
.display-flex         { display: flex }
.flex-nowrap          { flex-wrap: nowrap }

.position-relative { position: relative }
.position-absolute { position: absolute }
.position-fixed    { position: fixed }
.position-sticky   {
  position: sticky;
  top: 1rem;
  /* flex items stretch full height by default */
  /* align item to start so it can scroll throughout container */
  align-self: flex-start;
}

.top-0    { top:    0 }
.right-0  { right:  0 }
.bottom-0 { bottom: 0 }
.left-0   { left:   0 }

.width-100         { width: 100% }
.width-max-content { width: max-content }
.width-min-content { width: min-content }
.width-auto        { width: auto }
.width-initial     { width: initial }
.width-inherit     { width: inherit }
.width-unset       { width: unset }

.max-width-100 { max-width: 100% }
.max-width-200 { max-width: 200% }
.max-width-300 { max-width: 300% }
.max-width-400 { max-width: 400% }
.max-width-500 { max-width: 500% }

.height-100     { height: 100% }
.height-auto    { height: auto }
.height-initial { height: initial }
.height-inherit { height: inherit }
.height-unset   { height: unset }

.overflow-x { overflow-x: auto }
.overflow-y { overflow-y: auto }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.overflow-x,
.overflow-y,
.overflow-scroll,
.overflow-auto {
  /* native mobile scroll */
  -webkit-overflow-scrolling: touch; /* ios safari momentum-based scrolling */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* ms autohide scrollbars */
}

.overflow-hint {
  position: relative;
  overflow: hidden;
}
.overflow-hint::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: calc(100% - 1px);
  /* from (--background-color-default alpha 0) to (--background-color-default alpha 1) from reset */
  background: linear-gradient(to right, hsla(240,20%,100,0), var(--background-color-default));
  pointer-events: none;
}
/* safari fix */
@media (prefers-color-scheme: dark) {
  /* fix gradient transition from transparent to opaque (avoid gray in-between) */
  .overflow-hint::after {
    /* from (--background-color-default alpha 0) to (--background-color-default alpha 1) from reset in dark mode */
    background: linear-gradient(to right, hsla(225,6%,13%,0), var(--background-color-default));
  }
}
.overflow-hint .overflow-x::-webkit-scrollbar { display: none }
.overflow-hint .overflow-x { -ms-overflow-style: none }
.overflow-hint > ul > li:last-of-type { padding-right: 2rem }

.index-1 { z-index: 1 }
.index-2 { z-index: 2 }
.index-3 { z-index: 3 }
.index-4 { z-index: 4 }
.index-5 { z-index: 5 }

.float-left  { float: left }
.float-right { float: right }

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
