/*
 * style type string
 *   accepts image marker
 *   accepts string marker
 *   poor browser support
 *   https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
 *   https://caniuse.com/mdn-css_properties_list-style-type_string
*/

/*
 * @counter-style
 *   accepts array of symbols
 *   poor browser support
 *   https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style
 *   https://caniuse.com/css-at-counter-style
*/

/*
 * custom marker
 *   accepts string marker
 *   accepts font properties
 *   poor browser support
 *   https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Amarker
 *   https://caniuse.com/css-marker-pseudo
*/

.list-unstyled,
.list-inline,
[style*="--marker"] {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

[style*="--marker"]:not(.list-inline) ul {
  padding-left: 4ch;
}

/* list inline */
.list-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
}

/* marker */
[style*="--marker"]:not(.list-inline) > li::before, /* list block, with marker */
[style*="--marker"].list-inline > li + li::before /* list inline, with marker */ {
  content: var(--marker);
}

/* remove marker whitespace */
[style*="--marker"].list-inline > li {
  display: inline-flex;
}

/*
  do not set --gap globally
  each instance has unique context
*/

/* list gap, without marker */
.list-inline:not([style*="--marker"]) {
  --gap: 2ch; /* default */
}
/* list gap, with marker */
.list-inline[style*="--marker"] {
  --gap: 0.5ch; /* default */
}
/* nested list gap, with marker > without marker */
.list-inline[style*="--marker"] .list-inline:not([style*="--marker"]) {
  --gap: 1ch; /* default */
}

/* list gap, without marker */
.list-inline:not([style*="--marker"]) > li:not(:last-child) {
  margin-right: var(--gap);
}
/* list gap, with marker */
[style*="--marker"].list-inline > li:not(:last-child),
[style*="--marker"].list-inline > li:not(:first-child)::before {
  margin-right: var(--gap);
}
