/* reset lists */
[class*="list-"],
[style*="--bullet-type"] {
  padding-left: 0;
  list-style: none;
}

/* list inline */
.list-inline > li {
  display: inline-block;
}
.list-inline > li:not(:last-of-type) {
  margin-right: 1em;
}

/* custom bullet */
[style*="--bullet-type"] > li::before {
  content: var(--bullet-type) " ";
}
[style*="--bullet-type"].list-inline > li {
  margin-right: unset;
}
[style*="--bullet-type"].list-inline > li:first-child::before {
  content: unset;
}
[style*="--bullet-font"] > li::before {
  font-family: var(--bullet-font);
}
