.padding-0\.5          { padding:          0.5rem; }
.padding-top-0\.5      { padding-top:      0.5rem; }
.padding-right-0\.5    { padding-right:    0.5rem; }
.padding-bottom-0\.5   { padding-bottom:   0.5rem; }
.padding-left-0\.5     { padding-left:     0.5rem; }
.padding-y-0\.5        { padding-top:      0.5rem; padding-bottom: 0.5rem; }
.padding-x-0\.5        { padding-left:     0.5rem; padding-right:  0.5rem; }

.padding-1          { padding:          1rem; }
.padding-top-1      { padding-top:      1rem; }
.padding-right-1    { padding-right:    1rem; }
.padding-bottom-1   { padding-bottom:   1rem; }
.padding-left-1     { padding-left:     1rem; }
.padding-y-1        { padding-top:      1rem; padding-bottom: 1rem; }
.padding-x-1        { padding-left:     1rem; padding-right:  1rem; }

.padding-2          { padding:          2rem; }
.padding-top-2      { padding-top:      2rem; }
.padding-right-2    { padding-right:    2rem; }
.padding-bottom-2   { padding-bottom:   2rem; }
.padding-left-2     { padding-left:     2rem; }
.padding-y-2        { padding-top:      2rem; padding-bottom: 2rem; }
.padding-x-2        { padding-left:     2rem; padding-right:  2rem; }

.padding-3          { padding:          3rem; }
.padding-top-3      { padding-top:      3rem; }
.padding-right-3    { padding-right:    3rem; }
.padding-bottom-3   { padding-bottom:   3rem; }
.padding-left-3     { padding-left:     3rem; }
.padding-y-3        { padding-top:      3rem; padding-bottom: 3rem; }
.padding-x-3        { padding-left:     3rem; padding-right:  3rem; }

.padding-4          { padding:          4rem; }
.padding-top-4      { padding-top:      4rem; }
.padding-right-4    { padding-right:    4rem; }
.padding-bottom-4   { padding-bottom:   4rem; }
.padding-left-4     { padding-left:     4rem; }
.padding-y-4        { padding-top:      4rem; padding-bottom: 4rem; }
.padding-x-4        { padding-left:     4rem; padding-right:  4rem; }

.padding-5          { padding:          5rem; }
.padding-top-5      { padding-top:      5rem; }
.padding-right-5    { padding-right:    5rem; }
.padding-bottom-5   { padding-bottom:   5rem; }
.padding-left-5     { padding-left:     5rem; }
.padding-y-5        { padding-top:      5rem; padding-bottom: 5rem; }
.padding-x-5        { padding-left:     5rem; padding-right:  5rem; }
