.font-size-inherit { font-size: inherit; }

.font-size-h1 { font-size: var(--font-size-h1); }
.font-size-h2 { font-size: var(--font-size-h2); }
.font-size-h3 { font-size: var(--font-size-h3); }
.font-size-h4 { font-size: var(--font-size-h4); }
.font-size-h5 { font-size: var(--font-size-h5); }
.font-size-h6 { font-size: var(--font-size-h6); }
[class*="font-size-h"] { line-height: var(--line-height-heading); }

.font-size-xxs  { font-size: calc(var(--font-size-current) * 0.55); }
.font-size-xs   { font-size: calc(var(--font-size-current) * 0.7); }
.font-size-sm   { font-size: calc(var(--font-size-current) * 0.85); }
.font-size-lg   { font-size: calc(var(--font-size-current) * 1.25); }
.font-size-xl   { font-size: calc(var(--font-size-current) * 1.5); }
.font-size-xxl  { font-size: calc(var(--font-size-current) * 1.75); }
.font-size-xxxl { font-size: calc(var(--font-size-current) * 2); }

@media (min-width: 768px) {
  .font-size-lg   { font-size: calc(var(--font-size-current) * 1.5); }
  .font-size-xl   { font-size: calc(var(--font-size-current) * 2); }
  .font-size-xxl  { font-size: calc(var(--font-size-current) * 2.5); }
  .font-size-xxxl { font-size: calc(var(--font-size-current) * 3); }
}

.small      { font-size: calc(var(--font-size-current) * 0.85); }
.demi-small { font-size: calc(var(--font-size-current) * 0.90); }
.lead       { font-size: var(--font-size-h3); }

.small {
  --button-padding-y: 0.25em;
  --button-padding-x: 0.5em;
}

.italic, .em       { font-style: italic; }
.bold, .strong     { font-weight: bold; }

.text-underline    { text-decoration: underline; }
.text-strike       { text-decoration: line-through; }
.text-capitalize   { text-transform: capitalize; }
.text-uppercase    { text-transform: uppercase; }
.text-decoration-0 { text-decoration: none; }

.hover-text-underline:hover,
.hover-text-underline:focus,
a:hover .hover-text-underline,
a:focus .hover-text-underline { text-decoration: underline !important; }

.text-align-left    { text-align: left; }
.text-align-center  { text-align: center; }
.text-align-right   { text-align: right; }
.text-align-justify { text-align: justify; }
.text-align-start   { text-align: start !important; }

.vertical-align-top    { vertical-align: text-top; }
.vertical-align-middle { vertical-align: middle; }
.vertical-align-bottom { vertical-align: text-bottom; }

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap !important; /* for flex elements */
}

/* icon inline */
.icon {
  height: 1em;
  width: auto;
  position: relative;
  top: -0.1em;
}

.font-family-sans   { font-family: var(--font-family-sans); }
.font-family-serif  { font-family: var(--font-family-serif); }
.font-family-script { font-family: var(--font-family-script); }
.font-family-mono, .code, .pre { font-family: var(--font-family-mono); }
.font-family-inherit { font-family: inherit; }

.font-weight-100 { font-weight: 100; } /* thin */
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; } /* normal */
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; } /* bold */
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

.color-default { color: var(--color-default); }
.color-muted   { color: var(--color-muted); }
.color-inverse { color: var(--color-inverse); }
.color-current { color: currentColor; }
.color-inherit { color: inherit; }
.color-white   { color: #fff; }

.color-primary       { color: var(--color-primary); }
.color-secondary     { color: var(--color-secondary); }
.color-tertiary      { color: var(--color-tertiary); }
.color-quaternary    { color: var(--color-quaternary); }
.color-complementary { color: var(--color-complementary); }

.hover-color-primary:hover,
.hover-color-primary:focus,
a:hover .hover-color-primary,
a:focus .hover-color-primary { color: var(--color-primary) !important; }

.text-shadow         { text-shadow: rgba(0,0,10,0.3) 1px 1px 1px; }
.text-shadow-inverse { text-shadow: rgba(255,255,255,0.3) 1px 1px 1px; }

/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
[class*="line-clamp"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines, 1);
  overflow: hidden;
  max-height: initial;
  max-height: calc(var(--line-height-current) * var(--max-lines, 1) * 1em); /* fallback */
}
.line-clamp-2 { --max-lines: 2; }
.line-clamp-3 { --max-lines: 3; }
.line-clamp-4 { --max-lines: 4; }
.line-clamp-5 { --max-lines: 5; }
