/* global values */
.font-size-inherit { font-size: inherit }

/* reference values */
.font-size-h1 { font-size: var(--font-size-h1) }
.font-size-h2 { font-size: var(--font-size-h2) }
.font-size-h3 { font-size: var(--font-size-h3) }
.font-size-h4 { font-size: var(--font-size-h4) }
.font-size-h5 { font-size: var(--font-size-h5) }
.font-size-h6 { font-size: var(--font-size-h6) }
.small        { font-size: 0.85rem; --button-padding-y: 0.25rem; --button-padding-x: 0.5rem }
.demi-small   { font-size: 0.90rem }
.lead         { font-size: var(--font-size-h3) }

/* line height heading */
[class*="font-size-h"] { line-height: var(--line-height-heading) }

/**
 * absolute values
 * not using keyword values because those are based on browser's default
 * use values based on current font size instead
 */
.font-size-xx-small  { font-size: calc(var(--font-size-current) * 0.55) }
.font-size-x-small   { font-size: calc(var(--font-size-current) * 0.7) }
.font-size-small     { font-size: calc(var(--font-size-current) * 0.85) }
.font-size-large     { font-size: calc(var(--font-size-current) * 1.25) }
.font-size-x-large   { font-size: calc(var(--font-size-current) * 1.5) }
.font-size-xx-large  { font-size: calc(var(--font-size-current) * 1.75) }
.font-size-xxx-large { font-size: calc(var(--font-size-current) * 2) }

/* allow larger font sizes on larger screens only */
@media (min-width: 768px) {
  .font-size-x-large   { font-size: calc(var(--font-size-current) * 2) }
  .font-size-xx-large  { font-size: calc(var(--font-size-current) * 2.5) }
  .font-size-xxx-large { font-size: calc(var(--font-size-current) * 3) }
}

/* relative values - relative to parent */
.font-size-smaller { font-size: smaller }
.font-size-larger  { font-size: larger }

/*
 * numeric values - small
 * use numeric values whenever possible
 */
.font-size-0\.5 { font-size: 0.5rem }
.font-size-0\.6 { font-size: 0.6rem }
.font-size-0\.7 { font-size: 0.7rem }
.font-size-0\.8 { font-size: 0.8rem }
.font-size-0\.9 { font-size: 0.9rem }

/*
 * numeric values - medium
 * use numeric values whenever possible
 */
.font-size-1     { font-size: 1rem }
.font-size-1\.25 { font-size: 1.25rem }
.font-size-1\.5  { font-size: 1.5rem }
.font-size-1\.75 { font-size: 1.75rem }
.font-size-2     { font-size: 2rem }
.font-size-2\.25 { font-size: 2.25rem }
.font-size-2\.5  { font-size: 2.5rem }
.font-size-2\.75 { font-size: 2.75rem }
.font-size-3     { font-size: 3rem }
.font-size-3\.25 { font-size: 3.25rem }
.font-size-3\.5  { font-size: 3.5rem }
.font-size-3\.75 { font-size: 3.75rem }
.font-size-4     { font-size: 4rem }
.font-size-4\.25 { font-size: 4.25rem }
.font-size-4\.5  { font-size: 4.5rem }
.font-size-4\.75 { font-size: 4.75rem }
.font-size-5     { font-size: 5rem }

.italic, .em       { font-style: italic }
.bold, .strong     { font-weight: bold }

.text-underline    { text-decoration: underline }
.text-strike       { text-decoration: line-through }
.text-capitalize   { text-transform: capitalize }
.text-uppercase    { text-transform: uppercase }
.text-decoration-0 { text-decoration: none }

.text-decoration-underline-hover:hover,
.text-decoration-underline-hover:focus,
a:hover .text-decoration-underline-hover,
a:focus .text-decoration-underline-hover {
  text-decoration: underline;
}

.outline-0:focus { outline: 0 }

.text-align-left    { text-align: left }
.text-align-center  { text-align: center }
.text-align-right   { text-align: right }
.text-align-justify { text-align: justify }
.text-align-start   { text-align: start !important }
.text-align-end     { text-align: end }
.text-align-initial { text-align: initial }

.vertical-align-top    { vertical-align: text-top }
.vertical-align-middle { vertical-align: middle }
.vertical-align-bottom { vertical-align: text-bottom }

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap !important; /* for flex elements */
}

/**
 * icon
 * align icon to text baseline
 * line-hight is assumed
 */
.icon {
  height: 1em;
  width: auto;
  position: relative;
  top: -0.1em;
}

.font-family-sans   { font-family: var(--font-family-sans) }
.font-family-serif  { font-family: var(--font-family-serif) }
.font-family-script { font-family: var(--font-family-script) }
.font-family-mono, .code, .pre { font-family: var(--font-family-mono) }
.font-family-inherit { font-family: inherit }

.font-weight-100 { font-weight: 100 } /* thin */
.font-weight-200 { font-weight: 200 }
.font-weight-300 { font-weight: 300 }
.font-weight-400 { font-weight: 400 } /* normal */
.font-weight-500 { font-weight: 500 }
.font-weight-600 { font-weight: 600 }
.font-weight-700 { font-weight: 700 } /* bold */
.font-weight-800 { font-weight: 800 }
.font-weight-900 { font-weight: 900 }

.color-default { color: var(--color-default) }
.color-muted   { color: var(--color-muted) }
.color-inverse { color: var(--color-inverse) }
.color-current { color: currentColor }
.color-inherit { color: inherit }

.color-white   { color: #fff }
.color-black   { color: #000 }
.color-blue    { color: var(--color-blue); }
.color-yellow  { color: var(--color-yellow); }
.color-green   { color: var(--color-green); }
.color-red     { color: var(--color-red); }

.color-info    { color: var(--color-blue); }
.color-warning { color: var(--color-yellow); }
.color-success { color: var(--color-green); }
.color-error   { color: var(--color-red); }

.color-primary       { color: var(--color-primary) }
.color-secondary     { color: var(--color-secondary) }
.color-tertiary      { color: var(--color-tertiary) }
.color-quaternary    { color: var(--color-quaternary) }
.color-complementary { color: var(--color-complementary) }

.color-primary-hover:hover,
.color-primary-hover:focus,
a:hover .color-primary-hover,
a:focus .color-primary-hover { color: var(--color-primary) !important }

.text-shadow         { text-shadow: 1px 1px 1px rgba(0, 0, 10, 0.3) }
.text-shadow-inverse { text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3) }

/**
 * line clamp
 * limit the number of text lines
 * most browsers support prefixed version
 * https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp
 */
[class*="line-clamp"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  overflow: hidden;
}
.line-clamp-1 { --max-lines: 1 }
.line-clamp-2 { --max-lines: 2 }
.line-clamp-3 { --max-lines: 3 }
.line-clamp-4 { --max-lines: 4 }
.line-clamp-5 { --max-lines: 5 }
