/* hide from all */
@media (max-width: 544px) {
  .hide-xs { display: none; }
}
@media (min-width: 544px) and (max-width: 768px) {
  .hide-sm { display: none; }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hide-md { display: none; }
}
@media (min-width: 1024px) {
  .hide-lg { display: none; }
}
.hide {
  display: none !important;
}

/* hide visually, show to screan readers only */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* to hide content from screen reades use [aria-hidden]="true" */

/* reference: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
