@media (max-width: 544px) {
  .hide-xs { display: none; }
}
@media (min-width: 544px) and (max-width: 768px) {
  .hide-sm { display: none; }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hide-md { display: none; }
}
@media (min-width: 1024px) {
  .hide-lg { display: none; }
}

.hide {
  display: none !important;
}

/* screan readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
